@page "/app/cadastrar-contas"

<div class="card m-4">
    <div class="card-body">

        <h2>Cadastro de contas</h2>
        <p>Organize suas contas a pagar ou receber.</p>

        <form>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Nome da conta:</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="col-md-3">
                    <label>Data da conta:</label>
                    <input type="date" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Valor da conta:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label>Tipo da conta:</label>
                    <select class="form-select">
                        <option value="">Escolha um tipo</option>
                        <option value="1">Conta a receber</option>
                        <option value="2">Conta a pagar</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <label>Selecione a categoria da conta:</label>
                    <select class="form-select">
                        <option value="">Escolha uma categoria</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <input type="submit" class="btn btn-success"
                        value="Realizar Cadastro"/>
                </div>
            </div>

        </form>

    </div>
</div>

@code {

}
