@page "/app/cadastrar-categorias"

<div class="card m-4">
    <div class="card-body">

        <h2>Cadastro de categorias</h2>
        <p>Crie categorias para organizar suas finanças.</p>

        <form>

            <div class="mb-3">
                <label>Nome da categoria:</label>
                <input type="text" class="form-control"/>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-success"
                    value="Realizar Cadastro"/>
            </div>

        </form>

    </div>
</div>

@code {

}
