@page "/app/consultar-categorias"

<div class="card m-4">
    <div class="card-body">

        <h2>Consulta de categorias</h2>
        <p>Listagem de categorias cadastradas.</p>

        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nome da categoria</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm me-1">Editar</button>
                            <button class="btn btn-outline-danger btn-sm">Excluir</button> 
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Quantidade de categorias: 0
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

@code {

}
